//
// Base elements
//

html {
  color: #333;
  background: #f3f3f3;
}

main {
  margin: 5rem auto;

  @include outer-container;
}

footer {
  text-align: center;

  a {
    font-size: 0.9rem;
    color: #aaa;
    padding: 2rem 0;
  }
}

//
// Typography
//

h1 {
  font-family: 'LubalinDemiIBM';
}

input {
  line-height: inherit;
}

//
// System messages
//

// TODO - This is boilerplate from Bitters, is it still necessary?
.error {
  @extend %flash-error;
}

.notice {
  @extend %flash-success;
}

.errors {
  display: none;
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid darken($error, 2%);
  border-radius: 2px;
  background: $error;
  color: darken($error, 13%);
}

//
// Layout
//
.container {
  @include outer-container;
}

//
// Generic components
//

.icon {
  width: 50px;
  margin: 0 0 1rem;
  display: block;
}
