//
// Base elements
//

html {
  color: #333;
  background: #f3f3f3;
}

main {
  margin: 5rem auto;

  @include outer-container;
}

footer {
  text-align: center;

  a {
    font-size: 0.9rem;
    color: #aaa;
    padding: 2rem 0;
  }
}

//
// Typography
//

h1 {
  font-family: 'LubalinDemiIBM';
}

input {
  line-height: inherit;
}

//
// Form elements
//
textarea,
input[type="text"] {

  &:focus {
    border-color: #efefb4;
    background-color: #fefee7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 6px 6px -7px rgba(55, 112, 192, 0.7);
  }
}

//
// Buttons and links
//

a {
  color: $link;
  @include transition (color 0.1s ease-out);

  &:hover {
    color: lighten($link, 5%);
  }

  &:active,
  &:focus {
    color: $link;
  }
}

.btn {
  $default-color: #bbb;
  $default-background: #f8f8f8;

  $primary-color: #fff;
  $primary-background: $link;

  $secondary-color: #aaa;
  $secondary-background: #e4e4e4;

  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;

  @include transition (background-color 0.1s ease-out);
  background: $default-background;
  border: 1px solid darken($default-background, 4%);
  border-radius: 3px;
  color: $default-color;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $default-color;
  }

  &:hover {
    background: darken($default-background, 1%);
  }

  &:active {
    background: darken($default-background, 2%);
  }

  &.primary {
    background: $primary-background;
    border: 1px solid darken($primary-background, 3%);
    color: $primary-color;

    &:hover {
      background: darken($primary-background, 5%);
    }

    &:active {
      background: darken($primary-background, 10%);
    }
  }

  &.secondary {
    background: $secondary-background;
    border: 1px solid darken($secondary-background, 2%);
    color: $secondary-color;

    &:hover {
      background: darken($secondary-background, 2%);
    }

    &:active {
      background: darken($secondary-background, 3%);
    }
  }

  &.small {
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem 0 0;
    padding: 0.1rem 0.7rem;
  }

  &.large {
    font-size: 1.2rem;
  }
}

//
// System messages
//

.error {
  @extend %flash-error;
}

.notice {
  @extend %flash-success;
}

//
// Layout
//
.container {
  @include outer-container;
}

//
// Generic components
//

.icon {
  width: 50px;
  margin: 0 0 1rem;
  display: block;
}

