//
// Base elements
//

html {
  color: #333;
  background: #f3f3f3;
}

main {
  margin: 5rem auto;

  @include outer-container;
}

footer {
  text-align: center;

  a {
    font-size: 0.9rem;
    color: #aaa;
    padding: 2rem 0;
  }
}

//
// Typography
//

h1 {
  font-family: 'LubalinDemiIBM';
}

input {
  line-height: inherit;
}

//
// Buttons and links
//

a {
  color: $link;
  @include transition (color 0.1s ease-out);

  &:hover {
    color: lighten($link, 5%);
  }

  &:active,
  &:focus {
    color: $link;
  }
}

.btn {
  $default-color: #bbb;
  $default-background: #f8f8f8;

  $primary-color: #fff;
  $primary-background: $link;

  $secondary-color: #aaa;
  $secondary-background: #e4e4e4;

  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;

  @include transition (background-color 0.1s ease-out);
  background: $default-background;
  border: 1px solid darken($default-background, 4%);
  border-radius: 3px;
  color: $default-color;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $default-color;
  }

  &:hover {
    background: darken($default-background, 1%);
  }

  &:active {
    background: darken($default-background, 2%);
  }

  &.primary {
    background: $primary-background;
    border: 1px solid darken($primary-background, 3%);
    color: $primary-color;

    &:hover {
      background: darken($primary-background, 5%);
    }

    &:active {
      background: darken($primary-background, 10%);
    }
  }

  &.secondary {
    background: $secondary-background;
    border: 1px solid darken($secondary-background, 2%);
    color: $secondary-color;

    &:hover {
      background: darken($secondary-background, 2%);
    }

    &:active {
      background: darken($secondary-background, 3%);
    }
  }

  &.small {
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem 0 0;
    padding: 0.1rem 0.7rem;
  }

  &.large {
    font-size: 1.2rem;
  }
}

//
// System messages
//

.error {
  @extend %flash-error;
}

.notice {
  @extend %flash-success;
}

//
// Layout
//
.container {
  @include outer-container;
}

.header {
  &.primary {
    background: #333;
  }

  &.secondary {
    background: #fff;
    padding: 3rem;

    .btn {
      margin: 1rem 0;
    }
  }

  .nav {
    margin: 0 auto;
    padding: 1rem 0;
    overflow: hidden;

    @include outer-container;
  }

  .app-logo,
  .app-title {
    float: left;
  }

  .app-logo {
    width: 4rem;
    padding: 0.3rem 1rem 0 0;
  }

  .app-title,
  .app-link {
    font-family: 'LubalinGraphStdBookIBM';
  }

  .app-title {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
  }

  .app-link {
    float: right;
    padding: 0.2rem 0 0.2rem 1.5rem;
    font-family: 'LubalinGraphStdBookIBM';
    font-size: 1rem;
    color: #aaa;

    &:hover {
      color: lighten(#aaa, 10%);
    }
  }
}

.icon {
  width: 50px;
  margin: 0 0 1rem;
  display: block;
}

.card {
  background: #fff;
  margin: 1rem 0 2rem;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 10px 10px -10px #ddd;

  &:last-child {
    margin: 1rem 0 4rem;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  img {
    margin: 0 0 1rem;
  }
}

.collection-header {
  overflow: hidden;
}

.collection-type {
  display: inline-block;
  float: right;
  font-family: 'LubalinDemiIBM';
  color: #aaa;
}

.card-container {
  padding: 2rem 2rem 1rem;
}

.card-name {
  padding: 2rem;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #aaa;

  p {
    margin: 0;
  }
}

.card-admin {
  padding: 1rem 2rem;
  border-top: 1px solid #e7e7e7;

  a {
    padding: 0 1rem 0 0;
    color: #aaa;

    &:hover {
      color: $link;
    }
  }

  .new,
  .preview {
    float: right;
    padding: 0;
    color: #84d590;
    color: $link;
  }
}

.empty {
  margin: 1rem 0;
  border: 2px dashed #ccc;
  background: #f3f3f3;
  text-align: center;
  min-height: 100px;

  p {
    line-height: 100px;
    color: #aaa;
  }
}

.admin_bar {
  margin: 5rem 0 0;
  overflow: hidden;

  h1 {
    float: left;
  }

  .btn {
    float: right;
  }

  .btn.secondary {
    margin: 0.5rem 0.2rem 0 0.5rem;
  }

  &.masthead {
    margin: 0 0 2rem;
  }
}
