//
// Buttons and links
//

a {
  color: $link;
  @include transition (color 0.1s ease-out);

  &:hover {
    color: lighten($link, 5%);
  }

  &:active,
  &:focus {
    color: $link;
  }
}

.btn {
  $default-color: #bbb;
  $default-background: #f8f8f8;

  $primary-color: #fff;
  $primary-background: $link;

  $secondary-color: #aaa;
  $secondary-background: #e4e4e4;

  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;

  @include transition (background-color 0.1s ease-out);
  background-color: $default-background;
  border: 1px solid darken($default-background, 4%);
  border-radius: 3px;
  color: $default-color;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $default-color;
  }

  &:hover {
    background-color: darken($default-background, 1%);
  }

  &:active {
    background-color: darken($default-background, 2%);
  }

  &.primary {
    background-color: $primary-background;
    border: 1px solid darken($primary-background, 3%);
    color: $primary-color;

    &:hover {
      background-color: darken($primary-background, 5%);
    }

    &:active {
      background-color: darken($primary-background, 10%);
    }
  }

  &.secondary {
    background-color: $secondary-background;
    border: 1px solid darken($secondary-background, 2%);
    color: $secondary-color;

    &:hover {
      background-color: darken($secondary-background, 2%);
    }

    &:active {
      background-color: darken($secondary-background, 3%);
    }
  }

  &.small {
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem 0 0;
    padding: 0.1rem 0.7rem;
  }

  &.large {
    font-size: 1.2rem;
  }
}

.link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  background-color: inherit;
  padding: 1rem;

  &:hover {
    color: $link;
  }

  &.primary {
    color: $link;

    &:hover {
      color: darken($link, 5%);
    }

    &:active {
      color: darken($link, 10%);
    }
  }
}
