.page-header {
  width: 100%;
}

// Hide forms on for nested resources
// on pages#show by default
.new_scenario,
.new_resource {
  display: none;
  clear: left;
  padding: 1.5rem 0 0;

  input[type="submit"] {
    display: none;
    margin: 1rem 0 0;
  }
}

.products {
  overflow: hidden;

  .empty {
    background: #fff;
  }
}

.product {
  width: 50%;
  float: left;

  img {
    width: 3.5rem;
  }
}
