.scenario-products {
  overflow: hidden;
}

.product-query {
  margin: 0;
}

.product-count-wrapper {
  margin: 0 0 1rem;

  p {
    margin: 0;
    display: inline;
  }

  button {
    margin: 0;
    padding: 0;
  }
}

.results-wrapper {
  margin-top: 1rem;
  display: none;

  &.open {
    display: block;
  }

  .results-container {
    border: 1px solid #eee;
    overflow: scroll;
    max-height: 40vh;
    border-radius: 3px;
  }
}

.results {
  .product {
    padding: 1rem 1rem 0;
    border-bottom: 1px solid #ddd;
    transition: background-color ease-in 0.2s;

    &:hover {
      background: darken(#fff, 3%);
      cursor: pointer;
    }

    &.saved {
      position: relative;
      cursor: default;
      background: #e8f8e8;
    }
  }
}

.product-description {
  color: #888;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-submit,
.product-reset {
  float: right;
  margin: 0 0 0 0.5rem !important;
}

.product-submit {
  &.loading {
    color: #4aa0f3;
    background-image: url('/assets/images/loading.gif');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 50% 50%;
  }

  &:hover {
    background-color: #4aa0f3;
  }
}

.product-search {
  margin: 0 0 1rem;
}

.product-search-wrapper {
  overflow: hidden;

  input {
    margin: 0 !important;
  }
}

.products {
  h4 {
    margin: 2rem 0 0;
    font-family: 'LubalinDemiIBM';
    font-weight: 700;
    font-size: 2rem;
  }

  .product {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 0;
    }

    p {
      margin: 0;
    }

    a {
      position: absolute;
      top: 1rem;
      right: 0;
      color: #aaa;

      &:hover {
        color: $link;
      }
    }
  }
}
