.resource {
  p {
    font-weight: 500;
  }

  small {
    font-style: italic;
  }

  a {
    color: #ccc;

    &:hover {
      color: $link;
    }
  }

  .card_container {
    padding: 2rem;
  }
}

.edit_resource {
  input:last-child {
    margin: 0;
  }
}
