.resource {
  p {
    font-weight: 500;
  }

  small {
    font-style: italic;
  }

  a {
    color: #ccc;

    &:hover {
      color: $link;
    }
  }

  .card-container {
    padding: 2rem;
  }
}

.edit_resource {
  .btn {
    margin: 0 0 1rem;
  }
}
