.add_scenario_form,
.add_resource_form {
  display: none;
}

.scenario {
  overflow: hidden;
  clear: bloth;

  h3 {
    font-size: 1.4rem;
  }
}

.scenario_pitch {
  font-size: 2.5rem;
  padding: 3rem !important;
}

.scenario_product {
  width: 48.5%;
  float: left;
  margin-bottom: 1rem !important;

  h3 {
    font-size: 1.5rem;
  }

  &:nth-child(odd) {
    margin-right: 3%;
  }

  &.empty {
    width: 100%;
  }
}
