<% content_for :sub_header do %>
  <h1>IBM Cloud Lab Marketing Pages</h1>
<% end %>

<div class="wrapper">
  <% if !current_user %>
    <h1><%= link_to 'sign in', new_user_session_path %></h1>
    <h1><%= link_to 'register', new_user_registration_path %></h1>
  <% else  %>
    <h1><%= link_to 'solutions pages', pages_path %></h1>
  <% end %>
</div>
