<% content_for :sub_header do %>
  <h1>IBM Cloud Lab Marketing Pages</h1>
  <%= link_to 'create page', new_page_path, class: 'btn primary' %>
<% end %>

<div class="wrapper">
  <% if !current_user %>
    <p>unauthenticated</p>
    <%= link_to 'sign in', new_user_session_path %>
    <%= link_to 'register', new_user_registration_path %>
  <% else  %>
    <p>authenticated</p>
    <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
  <% end %>
</div>
