@import url('../../bower_components/normalize.css/normalize.css');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }





body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477DCA;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.error {
  background: #FBE3E4;
  color: #96151c;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  .error a {
    color: #6a0f14; }
    .error a:hover {
      color: #110203; }


.notice {
  background: #E6EFC2;
  color: #56651a;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  .notice a {
    color: #333c10; }
    .notice a:hover {
      color: black; }

@font-face {
  font-family: 'LubalinDemiIBM';
  src: url('//1.www.s81c.com/common/fonts/lubalinforibm-demi-webfont.eot');
  src: url('//1.www.s81c.com/common/fonts/lubalinforibm-demi-webfont.eot?#iefix') format('embedded-opentype'), url('//1.www.s81c.com/common/fonts/lubalinforibm-demi-webfont.woff') format('woff'), url('//1.www.s81c.com/common/fonts/lubalinforibm-demi-webfont.ttf') format('truetype'), url('//1.www.s81c.com/common/fonts/lubalinforibm-demi-webfont.svg#LubalinDemiIBM') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LubalinGraphStdBookIBM';
  src: url('//1.www.s81c.com/common/fonts/lubalingraphstd-book-webfont.eot');
  src: url('//1.www.s81c.com/common/fonts/lubalingraphstd-book-webfont.eot?#iefix') format('embedded-opentype'), url('//1.www.s81c.com/common/fonts/lubalingraphstd-book-webfont.woff') format('woff'), url('//1.www.s81c.com/common/fonts/lubalingraphstd-book-webfont.ttf') format('truetype'), url('//1.www.s81c.com/common/fonts/lubalingraphstd-book-webfont.svg#LubalinGraphStdBookIBM') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelvLightIBM';
  src: url('//1.www.s81c.com/common/fonts/helvneueforibm-light-webfont.eot');
  src: url('//1.www.s81c.com/common/fonts/helvneueforibm-light-webfont.eot?#iefix') format('embedded-opentype'), url('//1.www.s81c.com/common/fonts/helvneueforibm-light-webfont.woff') format('woff'), url('//1.www.s81c.com/common/fonts/helvneueforibm-light-webfont.ttf') format('truetype'), url('//1.www.s81c.com/common/fonts/helvneueforibm-light-webfont.svg#HelvLightIBM') format('svg');
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'HelvRegularIBM';
  src: url('//1.www.s81c.com/common/fonts/helveticaneue-webfont.eot');
  src: url('//1.www.s81c.com/common/fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'), url('//1.www.s81c.com/common/fonts/helveticaneue-webfont.woff') format('woff'), url('//1.www.s81c.com/common/fonts/helveticaneue-webfont.ttf') format('truetype'), url('//1.www.s81c.com/common/fonts/helveticaneue-webfont.svg#HelvRegularIBM') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelvBoldIBM';
  src: url('//1.www.s81c.com/common/fonts/helvneueforibm-bold-webfont.eot');
  src: url('//1.www.s81c.com/common/fonts/helvneueforibm-bold-webfont.eot?#iefix') format('embedded-opentype'), url('//1.www.s81c.com/common/fonts/helvneueforibm-bold-webfont.woff') format('woff'), url('//1.www.s81c.com/common/fonts/helvneueforibm-bold-webfont.ttf') format('truetype'), url('//1.www.s81c.com/common/fonts/helvneueforibm-bold-webfont.svg#HelvBoldIBM') format('svg');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'iconsIBM';
  src: url('//1.www.s81c.com/common/fonts/icons-ibm-v1_2.eot');
  src: url('//1.www.s81c.com/common/fonts/icons-ibm-v1_2.eot?#iefix') format('embedded-opentype'), url('//1.www.s81c.com/common/fonts/icons-ibm-v1_2.woff') format('woff'), url('//1.www.s81c.com/common/fonts/icons-ibm-v1_2.ttf') format('truetype'), url('//1.www.s81c.com/common/fonts/icons-ibm-v1_2.svg#iconsIBM') format('svg');
  font-weight: normal;
  font-style: normal; }

html {
  color: #333;
  background: #f3f3f3; }

h1 {
  font-family: 'LubalinDemiIBM'; }

a {
  color: #4aa0f3; }
  a:hover {
    color: #62aef5; }

main.admin {
  max-width: 960px;
  width: 96%;
  margin: 100px auto;
  padding: 0 2%; }

.button.large {
  width: 11em;
  vertical-align: baseline;
  background: #61D57F;
  border-radius: 0.375em;
  color: #FFF;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2em 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase; }
  .button.large:hover {
    background: #52C36F; }



.page-header {
  width: 100%; }

.page {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1em; }
  .page .page-image, .page .page-content {
    display: table-cell; }
  .page .page-content {
    width: 100%; }
    .page .page-content h2 {
      font-size: 1em;
      text-transform: lowercase;
      margin: 0.5em 0; }
    .page .page-content span.page-state {
      float: right;
      font-weight: lighter;
      color: #ccc; }
    .page .page-content p {
      margin-bottom: 0.5em; }
    .page .page-content p.comment-detail {
      font-style: italic;
      font-size: 0.9em; }

.icon {
  width: 50px;
  margin: 0 0 1rem;
  display: block; }

.scenario_pitch {
  font-size: 2.5rem;
  padding: 3rem !important; }

#ibm-solutions-gaming-intro {
  background: #fff; }

#ibm-pcon {
  overflow: hidden; }

.ibm-band.ibm_cci-solutions-gaming.section7 {
  display: none; }

.solution, .scenario, .resource, .scenario-product, .page-content {
  background: #fff;
  margin: 1rem 0;
  padding: 1.5rem;
  border-bottom: 5px solid #e8e8e8; }

.scenario {
  overflow: hidden;
  clear: bloth; }
  .scenario h3 {
    font-size: 1.4rem; }

.scenario-product h3 {
  font-size: 1.5rem; }

.empty {
  margin: 1rem 0;
  border: 2px dashed #ccc;
  background: #f3f3f3;
  text-align: center;
  min-height: 100px; }
  .empty p {
    line-height: 100px;
    color: #aaa; }

.resource p {
  font-weight: 500; }

.results {
  overflow: hidden;
  margin: 2rem 0 0 0; }

.product {
  background: #fff;
  width: 48%;
  float: left;
  margin: 0;
  padding: 2%;
  min-height: 160px;
  border-bottom: 5px solid #e8e8e8; }
  .product:hover {
    background: #fcfcfc;
    cursor: pointer; }
  .product:nth-child(odd) {
    margin: 0 4% 4% 0; }
  .product h2 {
    font-size: 1.5rem; }

.saved {
  background: #B9F5B9;
  border-bottom: 5px solid #8add8a; }
  .saved:hover {
    background: #B9F5B9;
    cursor: default; }

.search-instructions {
  display: none; }

.add-scenario-form, .add-resource-form {
  display: none; }

.admin_bar {
  margin: 5rem 0 0 0;
  overflow: hidden; }
  .admin_bar h1 {
    float: left; }
  .admin_bar .btn {
    float: right; }
  .admin_bar.masthead {
    margin: 0 0 2rem 0; }

.btn {
  display: inline-block;
  cursor: pointer;
  color: #bbb;
  padding: 0.5rem 1rem;
  background: #f8f8f8;
  text-decoration: none;
  border-bottom-size: 2px;
  border-bottom-style: solid;
  border-bottom-color: #e4e4e4;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 3px; }
  .btn:link, .btn:hover, .btn:active, .btn:visited {
    color: #bbb; }
  .btn:hover {
    background: #f3f3f3; }
  .btn:active {
    background: #f0f0f0; }
  .btn.primary {
    background: #4aa0f3;
    border-bottom-color: #2990f1;
    border-bottom-size: 4px;
    color: #fff; }
    .btn.primary:hover {
      background: #3295f1; }
    .btn.primary:active {
      background: #1a89f0; }
  .btn.secondary {
    border-bottom-color: #d7d7d7;
    color: #aaa;
    background: #e4e4e4; }
    .btn.secondary:hover {
      background: #dfdfdf; }
    .btn.secondary:active {
      background: #dcdcdc; }
  .btn.small {
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem 0 0;
    padding: 0.4rem 0.7rem; }
  .btn.large {
    font-size: 1.2rem; }

.search {
  margin: 1rem 0 0 0; }
  .search input[type="submit"] {
    float: right; }
  .search input[type="text"]:focus {
    border-color: #c4c4c4; }

.product-search-wrapper {
  overflow: hidden;
  padding: 0 0.5rem 0 0; }

.new_scenario, .new_resource {
  display: none;
  clear: left;
  padding: 1.5rem 0 1rem; }
