  </div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: H132845E64448L62-->
<div class="ibm-col-1-1 ibm-topics-scenario-header ibm_cci-ibm-band">

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: D076919O51305W81-->
<div class="ibm-col-1-1 ibm-topics-scenario-content ibm_cci-ibm-band">

<div class="ibm-columns">
<!-- eTree :.: Column 5-1 :.: L073337V54734O79-->
<div class="ibm-col-5-1 ibm-topics-scenario-content-offerings"><a href="https://my.ibmserviceengage.com/application-monitoring/" target="offcloud"><img alt="IBM Performance Management for Applications and Infrastructure icon" height="75" width="75" src="http://50.97.56.226:3002/images/png/Performance_Mangement.png"/> <strong>IBM Performance Management for Applications and Infrastructure</strong></a>

<p>Manage and optimize application and infrastructure performance.
</p>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 5-1 :.: S055937C95625Z47-->
<div class="ibm-col-5-1 ibm-topics-scenario-content-offerings"><a href="https://my.ibmserviceengage.com/it-service-management/" target="offcloud"><img alt="IBM SmartCloud Control Desk icon" height="75" width="75" src="http://50.97.56.226:3002/images/png/it_service_mmt.png"/> <strong>SmartCloud Control Desk </strong></a>

<p>Unified asset and service management.
</p>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 5-1 :.: E045979C36797S79-->
<div class="ibm-col-5-1 ibm-topics-scenario-content-offerings"><a href="https://my.ibmserviceengage.com/workload-automation/" target="offcloud"><img alt="IBM Workload Automation icon" height="75" width="75" src="http://50.97.56.226:3002/images/png/workload_automation.png"/> <strong>IBM Workload Automation</strong></a>

<p>Workload automation extension to grid environments.
</p>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 5-1 :.: C556937Q91666F94-->
<div class="ibm-col-5-1 ibm-topics-scenario-content-offerings"><a href="https://marketplace.ibmcloud.com/apps/301#!overview" target="offcloud"><img alt="JumpCloud server management icon" height="75" width="75" src="http://50.97.56.226:3002/images/png/jumpcloud.png"/> <strong>JumpCloud server management</strong></a>

<p>JumpCloud automates manual, tedious server management tasks from the cloud for DevOps and IT pros.
</p>



</div>
<!-- eTree :.: /Column :.: -->

</div>


</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">

<!-- eTree :.: Column 1-1 :.: G300485P50116X55-->
<div class="ibm-col-1-1 ibm-solutions-resources ibm-solutions-resources-block1 ibm_cci-ibm-band"><h3 class="section-header">Featured resources</h3>

  <% @page.resources.each do |resource| %>
    <p><%= link_to resource.body, resource.url, class: 'ibm_demo_link', target: '_blank' %></p>
  <% end %>

</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: H721729I34022K98-->
<div class="ibm-col-6-2 ibm_cci-gbl-live-chat"><a id="slideout-button"><img alt="Contact tab" height="173px" width="35px" src="//www.ibm.com/cloud-computing/images/Contact.png"/></a>

<ul class="ibm-link-list">
<li class="ibm-phone-link"><span><strong>U.S. & Canada
<br/>
        1-877-999-7115</strong>
<br/>
        Priority Code
<br/>
        103HA09T</span></li>
<li class="ibm-email-link"><span><a href="https://www14.software.ibm.com/webapp/iwm/web/signup.do?source=gtsmail&amp;lang=en_US&amp;S_TACT=602AX26W">Email</a></span></li>
</ul>

<span id="lpbutton"> </span>
<hr/>

<ul class="ibm-link-list">
<li class="ibm-twitter-link ibm_cci-gbl-social"><a href="http://twitter.com/ibmcloud/" title="twitter">Twitter</a></li>
<li class="ibm-youtube-link ibm_cci-gbl-social"><a href="http://youtube.com/user/ibmcloud/" title="youtube">YouTube</a></li>
<li class="ibm-linkedin-link ibm_cci-gbl-social"><a href="http://www.linkedin.com/groups/IBM-Cloud-Computing-2002441" title="linkedin">Linkedin</a></li>
<li class="ibm-blog-link ibm_cci-gbl-social"><a href="http://thoughtsoncloud.com/" title="thoughts on cloud blog">Thoughts on Cloud</a></li>
<li class="ibm-facebook-link ibm_cci-gbl-social"><a href="http://www.facebook.com/IBMcloud/" title="facebook">Facebook</a></li>
<li class="ibm-googleplus-link ibm_cci-gbl-social"><a href="https://plus.google.com/u/0/105308978410787250865/" title="google plus">Google+</a></li>
</ul>
<a id="close-tab-slideout">Hide [x]</a>

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: T387812M80489V39-->
<div class="ibm-col-1-1 ibm-solutions-resources ibm-solutions-resources-block2 ibm_cci-ibm-band">&nbsp;

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: L677079M74975S45-->
<div class="ibm-col-1-1 ibm_cci-ibm-band ibm_cci-gbl-footer" id="ibm-custom-smartcloud-footer">
<div class="ibm-columns">
<!-- eTree :.: Column 6-3 :.: H416583B04798I32-->
<div class="ibm-col-6-3 ibm_cci-gbl-footer-left"><span class="ibm_cci-gbl-footer-left-title">
Follow us
</span>

<ul class="ibm-link-list">
<li class="ibm-twitter-link ibm_cci-gbl-social"><a href="http://twitter.com/ibmcloud/" title="twitter">Twitter</a></li>
<li class="ibm-youtube-link ibm_cci-gbl-social"><a href="http://youtube.com/user/ibmcloud/" title="youtube">YouTube</a></li>
<li class="ibm-linkedin-link ibm_cci-gbl-social"><a href="http://www.linkedin.com/groups/IBM-Cloud-Computing-2002441" title="linkedin">Linkedin</a></li>
<li class="ibm-blog-link ibm_cci-gbl-social"><a href="http://thoughtsoncloud.com/" title="thoughts on cloud blog">Thoughts on Cloud</a></li>
<li class="ibm-facebook-link ibm_cci-gbl-social"><a href="http://www.facebook.com/IBMcloud/" title="facebook">Facebook</a></li>
<li class="ibm-googleplus-link ibm_cci-gbl-social"><a href="https://plus.google.com/u/0/105308978410787250865/" title="google plus">Google+</a></li>
</ul>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-3 :.: M030672B15534D35-->
<div class="ibm-col-6-3 ibm_cci-gbl-footer-right">
<ul class="ibm-link-list ibm_cci-gbl-contact">
<li class="ibm-phone-link"><span>U.S. & Canada 1.877.999.7115

<br/>Priority Code 103HA09T</span></li>
<li class="ibm-email-link"><a href="https://www14.software.ibm.com/webapp/iwm/web/signup.do?source=gtsmail&amp;lang=en_US&amp;S_TACT=602AX26W" title="email link">Email</a></li>
</ul>



</div>
<!-- eTree :.: /Column :.: -->

</div>

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

</div>
</div>
</div>
</div>
<div id="ibm-related-content">
<!-- RELATED_CONTENT_BEGIN -->

 
<div id="ibm-merchandising-module">
<!-- ibm-merchandising-module -->
</div>

<!-- RELATED_CONTENT_END -->
</div>
<!-- FOOTER_BEGIN -->
<div id="ibm-footer-module">
</div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links
</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div><script src="//www.ibm.com/cloud-computing/bin/us/ww_cci.js?version=0.1" type="text/javascript">//</script><script src="//www.ibm.com/software/info/js/oplabovtrig.js" type="text/javascript">//</script>
<script language="javascript" type="text/javascript">
                                                        var editskill = "gtscloud-usen";
                                        </script>
<script src="//www.ibm.com/services/common/cloud-enterprise/js/common-mtagbutton.js" type="text/javascript">//</script>
