<div class="ibm-col-6-2 ibm_cci-gbl-live-chat">
  <a id="slideout-button">
    <img alt="Contact tab" height="173px" width="35px" src="http://www.ibm.com/cloud-computing/images/Contact.png"/>
  </a>

  <ul class="ibm-link-list">
    <li class="ibm-phone-link"><span><strong>U.S. & Canada<br/>1-877-999-7115</strong><br/>Priority Code<br/>103HA09T</span></li>
    <li class="ibm-email-link"><span><a href="https://www14.software.ibm.com/webapp/iwm/web/signup.do?source=gtsmail&amp;lang=en_US&amp;S_TACT=602AX26W">Email</a></span></li>
  </ul>

  <span id="lpbutton"> </span>
  <hr/>

  <ul class="ibm-link-list">
    <li class="ibm-twitter-link ibm_cci-gbl-social"><a href="http://twitter.com/ibmcloud/" title="twitter">Twitter</a></li>
    <li class="ibm-youtube-link ibm_cci-gbl-social"><a href="http://youtube.com/user/ibmcloud/" title="youtube">YouTube</a></li>
    <li class="ibm-linkedin-link ibm_cci-gbl-social"><a href="http://www.linkedin.com/groups/IBM-Cloud-Computing-2002441" title="linkedin">Linkedin</a></li>
    <li class="ibm-blog-link ibm_cci-gbl-social"><a href="http://thoughtsoncloud.com/" title="thoughts on cloud blog">Thoughts on Cloud</a></li>
    <li class="ibm-facebook-link ibm_cci-gbl-social"><a href="http://www.facebook.com/IBMcloud/" title="facebook">Facebook</a></li>
    <li class="ibm-googleplus-link ibm_cci-gbl-social"><a href="https://plus.google.com/u/0/105308978410787250865/" title="google plus">Google+</a></li>
  </ul>
  <a id="close-tab-slideout">Hide [x]</a>
</div>
