<div id="ibm-footer-module"></div>

<div id="ibm-footer">
  <h2 class="ibm-access">Footer links</h2>

  <ul>
    <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
    <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
    <li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
    <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
  </ul>
</div>
