<div id="ibm-masthead">
  <div id="ibm-mast-options">
    <ul>
      <li id="ibm-geo">
        <a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a>
      </li>
    </ul>
  </div>

  <div id="ibm-universal-nav">
    <ul id="ibm-unav-links">
      <li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
    </ul>

    <ul id="ibm-menu-links">
      <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
    </ul>

    <div id="ibm-search-module">
      <form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
        <p>
          <label for="q"><span class="ibm-access">Search</span></label>
          <input type="text" maxlength="100" value="" name="q" id="q"/>
          <input type="hidden" value="17" name="v"/>
          <input type="hidden" value="utf" name="en"/>
          <input type="hidden" value="en" name="lang"/>
          <input type="hidden" value="us" name="cc"/>

          <input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
        </p>
      </form>
    </div>
  </div>
</div>
