//
// Solutions
//
.solution {
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #301b0c;
}

.solution-header {
  @extend %header-primary;

  width: 100%;
  bottom: 0;
  position: absolute;
  margin: 0;
  background: rgba(0, 25, 52, 0.7);
  text-align: center;
  color: #fff;

  .container {
    display: inline-block; 
    padding: 2rem 0;
    max-width: 70rem;
  }
}

.solution-subheader {
  @extend %leadspace-secondary;

  padding: 0 3rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;

  @include outer-container;

  .container {
    display: inline-block;
  }
}
