@import '../../bower_components/normalize.css/normalize.css';
@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'fonts';

$link: #4aa0f3;

html {
  color: #333;
  background: #f3f3f3;
}

h1 {
  font-family: 'LubalinDemiIBM';
}

a {
  color: $link;

  &:hover {
    color: lighten($link, 5%);
  }
}

main.admin {
  max-width: 960px;
  width: 96%;
  margin: 100px auto;
  padding: 0 2%;
}

.button.large {
  width: 11em;
  vertical-align: baseline;
  background: #61D57F;
  border-radius: 0.375em;
  color: #FFF;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2em 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: #52C36F;
  }
}

.error {
  @extend %flash-error;
}

.notice {
  @extend %flash-success;
}

.page-header {
  width: 100%;
}

// TODO
// This is boilerplate that can be removed
.page {
  $comment-gutter: 1.4em;
  $comment-image-padding: .7em;
  $comment-image-width: 4em;
  $comment-color: #333;

  display: table;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1em;

  .page-image,
  .page-content {
    display: table-cell;
  }

  .page-content {
    width: 100%;

    h2 {
      font-size: 1em;
      text-transform: lowercase;
      margin: 0.5em 0;
    }

    span.page-state {
      float: right;
      font-weight: lighter;
      color: #ccc;
    }

    p {
      margin-bottom: .5em;
    }

    p.comment-detail {
      font-style: italic;
      font-size: .9em;
    }
  }
}

.icon {
  width: 50px;
  margin: 0 0 1rem;
  display: block;
}

// TODO
// underscore vs hyphen inconsistency
.scenario_pitch {
  font-size: 2.5rem;
  padding: 3rem !important;
}

#ibm-solutions-gaming-intro {
  background: #fff;
}

#ibm-pcon {
  overflow: hidden;
}

.ibm-band.ibm_cci-solutions-gaming.section7 {
  display: none;
}

.solution,
.scenario,
.resource,
.scenario-product,
.page-content {
  background: #fff;
  margin: 1rem 0;
  padding: 1.5rem;
  border-bottom: 5px solid #e8e8e8;
}

.scenario {
  overflow: hidden;
  clear: bloth;

  h3 {
    font-size: 1.4rem;
  }
}

.scenario-product {
  h3 {
    font-size: 1.5rem;
  }
}

.empty {
  margin: 1rem 0;
  border: 2px dashed #ccc;
  background: #f3f3f3;
  text-align: center;
  min-height: 100px;

  p {
    line-height: 100px;
    color: #aaa;
  }
}

.resource {
  p {
    font-weight: 500;
  }
}

.results {
  overflow: hidden;
  margin: 2rem 0 0 0;
}

.product {
  background: #fff;
  width: 48%;
  float: left;
  margin: 0;
  padding: 2%;
  min-height: 160px;
  border-bottom: 5px solid #e8e8e8;

  &:hover {
    background: #fcfcfc;
    cursor: pointer;
  }

  &:nth-child(odd) {
    margin: 0 4% 4% 0;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.saved {
  background: #B9F5B9;
  border-bottom: 5px solid #8add8a;

  &:hover {
    background: #B9F5B9;
    cursor: default;
  }
}

.search-instructions {
  display: none;
}

.add-scenario-form,
.add-resource-form {
  display: none;
}

.admin_bar {
  margin: 5rem 0 0 0;
  overflow: hidden;

  h1 {
    float: left;
  }

  .btn {
    float: right;
  }

  &.masthead {
    margin: 0 0 2rem 0;
  }
}

.btn {
  $btn-default: #f8f8f8;

  display: inline-block;
  cursor: pointer;
  color: #bbb;
  padding: 0.5rem 1rem;
  background: $btn-default;
  text-decoration: none;

  border-bottom-size: 2px;
  border-bottom-style: solid;
  border-bottom-color: #e4e4e4;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 3px;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: #bbb;
  }

  &:hover {
    background: darken($btn-default, 2%);
  }

  &:active {
    background: darken($btn-default, 3%);
  }

  &.primary {
    background: $link;
    border-bottom-color: darken($link, 7%);
    border-bottom-size: 4px;
    color: #fff;

    &:hover {
      background: darken($link, 5%);
    }

    &:active {
      background: darken($link, 10%);
    }
  }

  &.secondary {
    $secondary: #e4e4e4;
    border-bottom-color: darken($secondary, 5%);
    color: #aaa;

    background: $secondary; 

    &:hover {
      background: darken($secondary, 2%);
    }

    &:active {
      background: darken($secondary, 3%);
    }
  }

  &.small {
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem 0 0;
    padding: 0.4rem 0.7rem;
  }

  &.large {
    font-size: 1.2rem;
  }
}

.search {
  margin: 1rem 0 0 0;

  input[type="submit"] {
    float: right;
  }

  input[type="text"]:focus {
    border-color: #c4c4c4; 
  }
}

.product-search-wrapper {
  overflow: hidden;
  padding: 0 0.5rem 0 0;
}

// Hide forms on for nested resources
// on pages#show by default
.new_scenario,
.new_resource {
  display: none;
  clear: left;
  padding: 1.5rem 0 1rem;
}
