@import '../../bower_components/normalize.css/normalize.css';
@import 'bourbon';
@import 'bitters/bitters';
@import 'neat';
@import 'fonts';

html {
  color: #333;
}

h1 {
  font-family: 'LubalinDemiIBM';
}

main.admin {
  max-width: 960px;
  width: 100%;
  margin: 100px auto;
}

.button.large {
  width: 11em;
  vertical-align: baseline;
  background: #61D57F;
  border-radius: 0.375em;
  color: #FFF;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2em 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: #52C36F;
  }
}

.page {
  $comment-gutter: 1.4em;
  $comment-image-padding: .7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($base-accent-color, 15);
  $comment-detail-color: transparentize($comment-color, .5);
  $comment-image-vert-alignment: top;

  display: table;
  width: 100%;
  margin-bottom: $base-line-height;
  padding-bottom: 1em;
  border-bottom: 1px solid transparentize($comment-color, .9);

  .page-image,
  .page-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .page-header {
    padding-right: $comment-gutter;

    > img {
      width: $comment-image-width;
      height: auto;
      border-radius: $base-border-radius;
      padding: $comment-image-padding;
      background: $comment-background;
      display: block;
      max-width: none;
    }

    .page-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .page-content {
    width: 100%;

    h2 {
      font-size: 1em;
      text-transform: lowercase;
      margin-bottom: .5em;
    }

    span.page-state {
      font-weight: lighter;
      color: #666;
    }

    p {
      margin-bottom: .5em;
    }

    p.comment-detail {
      font-style: italic;
      font-size: .9em;
      color: $comment-detail-color;
    }
  }
}
