@import '../../bower_components/normalize.css/normalize.css';
@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'fonts';

//
// Solutions
//
.solution {
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #301b0c;
}

.solution-header {
  width: 100%;
  bottom: 0;
  position: absolute;
  margin: 0;

  background: rgba(0, 25, 52, .7);
  font-family: 'LubalinDemiIBM';
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  color: #fff;

  .container {
    display: inline-block; 
    padding: 2rem;

    @include outer-container;
  }
}

.solution-subheader {
  padding: 0 3rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;

  @include outer-container;

  .container {
    display: inline-block;
  }
}

//
// Scenarios
//
.scenarios-wrapper {
  background: #f8f8f8;
  padding: 3rem;
}

.scenario {
  @include outer-container;
}

.scenario-avatar {
  margin: 0 auto;
  display: block;
}

.scenario-header {
  font-family: LubalinDemiIBM;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #000;
  padding: 0 0 2rem 0;

  @include shift(3);
  @include span-columns(3);
}

//
// Products
//
.products {
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
}

.product {
  float: left;
  width: 20%;
  padding: 2%;
}

.product-icon {
  width: 100px;
}

.product-name {
  display: block;
}

//
// Resources
//
.resources {
  margin: 1rem 0 0;
  padding: 3rem;
  background: #f8f8f8;
}
