<% if @resource.errors.any? %>
  <% @resource.errors.full_messages.each do |error| %>
    $('main').append('<p>' + '<%= message.html_safe %>' + '</p>');
  <% end %>
<% else %>
  // TODO - see scenarios/create.js.erb
  $('.all.resources').html("<%= j render('resources') %>");

  // Empty all text fields in form
  $('.new_resource input[type="text"]').val('');
<% end %>
