<% @products.each do |product| %>
<section class="scenario-product">
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <%= image_tag product.icon_url %>

  <p><%= link_to 'delete', [product.scenario, product], method: :delete %></p>
</section>
<% end %>
