<% if @products.each do |product| %>
<section class="scenario-product">
  <%= image_tag product.icon_url, class: 'icon' %>

  <h3><%= product.name %></h3>
  <p><%= product.description %></p>

  <p><%= link_to 'delete', scenario_product_path(product.scenario_id, product), method: :delete, remote: true, class: 'btn small delete-product' %></p>
</section>
<% end.empty? %>
<section class="scenario-product empty">
  <p>no saved products&#133;</p>
</section>
<% end %>
