<% if @products.each do |product| %>
<section class="scenario-product card">
  <div class="card-container">
    <%= image_tag product.icon_url, class: 'icon' %>
    <%= content_tag :h3, product.name %>
    <%= content_tag :p, product.description %>
  </div>

  <div class="card-admin">
    <%= link_to 'delete', scenario_product_path(product.scenario_id, product), method: :delete, remote: true, class: 'delete-product' %>
  </div>
</section>
<% end.empty? %>
<section class="scenario-product empty">
  <p>no saved products&#133;</p>
</section>
<% end %>
