<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |error| %>
    $('main').append('<p>' + '<%= message.html_safe %>' + '</p>');
  <% end %>
<% else %>
  $('.scenario .products').find('.empty').remove();
  $('.scenario .products').append("<%= j(render 'products/index', object: @product) %>");
<% end %>
