<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |error| %>
    $('main').append('<p>' + '<%= message.html_safe %>' + '</p>');
  <% end %>
<% else %>
  $('.scenario .products').html("<%= j render('products') %>");
<% end %>
