var results  = <%= raw json_escape(@results) %>
,   $modal   = $('.modal[data-modal-name=<%= @scenario_name %>]')
,   $errors  = $modal.find('.errors')
,   $search  = $modal.find('.product-query')
,   $count   = $modal.find('.product-count')
,   $results = $modal.find('.results-wrapper')
,   $submit  = $modal.find('.product-submit');

$submit.removeClass('loading');

if(results.length === 0) {

  // Search complete, nothing found
  $errors.append('<li>Your search did not return any resesults.</li>').slideDown();
  $search.val('').focus();

}
else
{

  $results.addClass('open');

  $count.html(results.length);

  // Iterate over results and append each to the DOM
  results.forEach(function(result) {

    // Add each search result to the results section
    $('.results').append(
      '<article class="product" data-id="' + result["id"] + '">'
      + '<p class="product-name">' + result["name"] + '</p>'
      + '<p class="product-description">' + result["product_name"] + '</p>'
    + '</article>'
    );
  });
};

// Delegate event when user interacts with any result
$('.product').on('click', function() {

  // Cache reference to the current jQuery object
  $this = $(this);

  // Update the UI to indicate that the selection was received
  $this.addClass('selected');

  // Stash product id
  var id = $this.data('id');

  // Get current scenario id
  var scenario_id = '<%= @scenario_name %>';

  // Build destination for POST for /scenarios/:scenario_id/products route
  var post_url = '/scenarios/' + scenario_id + '/products';

  // Save user's selection to the database on click
  $.ajax({
    type: 'POST',
    url:  post_url,
    data: results[id]
  }).done(function() {
    $this.addClass('saved');
  });

});
