<!DOCTYPE html>
<html>
<head>
  <title>IBM  Cloud Computing: Solutions for IT Management - United States</title>

  <%= stylesheet_link_tag '/assets/css/styles' %>
  <%= favicon_link_tag '//www.ibm.com/favicon.ico' %>

  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="Matthew Starr/Southbury/IBM@IBMUS" name="Owner"/>
  <meta content="index, follow" name="robots"/>
</head>
<body>
  <%# render 'layouts/ibm/masthead' %>
  <%# render 'layouts/ibm/leadspace' %>
  <%# render 'layouts/ibm/nav' %>

  <%= yield %>

  <%# render 'layouts/ibm/contact_module' %>
  <%# render 'layouts/ibm/footer_leadspace' %>
  <%# render 'layouts/ibm/related_content' %>
  <%# render 'layouts/ibm/footer' %>
  <%# render 'layouts/ibm/metrics' %>
  <%# render 'layouts/ibm/scripts' %>
</body>
</html>
