<!DOCTYPE html>
<html>
<head>
  <title>IBM  Cloud Computing: Solutions for IT Management - United States</title>

  <%= stylesheet_link_tag '/assets/css/preview' %>
  <%= favicon_link_tag '//www.ibm.com/favicon.ico' %>

  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="Matthew Starr/Southbury/IBM@IBMUS" name="Owner"/>
  <meta content="index, follow" name="robots"/>
</head>
<body>
  <%= yield %>
</body>
</html>
